<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compraventa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/compraventa.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script defer src="/index.js"></script>
    <style>
        .card-img-top {
            width: 100%;
            height: 20vw;
            object-fit: cover;
        }
    </style>
    <!-- https://getbootstrap.com/docs/4.0/layout/grid/ -->
</head>

<body>
    <nav class="navbar">
        <div class="content">
            <div class="logo"><a href="#">TakePedalTake</a></div>
            <ul class="menu-list">
                <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="/">Home</a></li>
                <li><a href="/post/newview">About</a></li>
                <li><a href="/post/">Posts</a></li>
                <li><a href="/compraventa/">Compraventa</a></li>
                <li><a href="/demo/">Demo</a></li>
                <% if(user){%>
                    <li><a href="/user/profile">Profile</a></li>
                    <%} else{%>
                        <li><a href="/user/register">Login</a></li>
                        <%}%>
            </ul>
            <div class="icon menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <img src="/img/purchase.jpg" alt="landing image" class="banner">
    <div class="center">
        <div class="title">COMPRAVENTA</div>
    </div>
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-sm-12">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Compra</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Alquilar</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- first card row -->
        <% for(let i =0; i<pedals.length;i++){%>
            <% if(i===0 || i % 3===0){%>
                <div class="row mb-4 mt-4">
                    <%} %>
                        <div class="col-sm d-flex align-items-stretch">
                            <div class="card">
                                <!-- <img class="card-img-top" src="/img/purchase6.jpg" alt="Card image cap"> -->
                                <a href="/compraventa/<%=pedals[i].id %>">
                                    <img class="card-img-top" src="<%=pedals[i].coverImagePath %>" alt="pedal">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%=pedals[i].name%>
                                    </h5>
                                    <p class="card-text">
                                        <%=pedals[i].description %>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Publicado el <%=pedals[i].createdAt.toDateString() %> </small>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
                <!-- second card row -->
                <!-- <div class="row mb-4">
                    <div class="col-sm d-flex align-items-stretch">
                        <div class="card">
                            <img class="card-img-top" src="/img/purchase2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm d-flex align-items-stretch">
                        <div class="card">
                            <img class="card-img-top" src="/img/purchase3.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm d-flex align-items-stretch">
                        <div class="card">
                            <img class="card-img-top" src="/img/purchase7.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div> -->
    </div>
    <!-- <div class="about">
        <div class="content">
            <div class="title">Todo lo que deseabas saber, por fin en una web exclusiva para pedales</div>
        </div>
    </div> -->
    <!-- Footer -->
    <!-- <footer>
        <div class="main-content">
            <div class="left box">
                <h2>
                    About us</h2>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum quisquam vitae exercitationem esse dolore reiciendis ad, animi quam voluptatibus, unde, eum accusamus! Quos maiores rerum quasi tempora voluptatem aspernatur nulla, perferendis officiis.
                        Quam exercitationem suscipit maxime id eos quibusdam at?</p>
                    <div class="social">
                        <a target="_blank" href="https://www.linkedin.com/in/alejandroagustopa/"><span class="fab fa-linkedin"></span></a>
                        <a target="_blank" href="#"><span class="fab fa-twitter"></span></a>
                        <a target="_blank" href="https://www.instagram.com/alejandro.agustopa/"><span class="fab fa-instagram"></span></a>
                    </div>
                </div>
            </div>
            <div class="center box">
                <h2>
                    CONTACT US</h2>
                <div class="content">
                    <div class="place">
                        <span class="fas fa-map-marker-alt"></span>
                        <span class="text">Lorem Ipsum</span>
                    </div>
                    <div class="phone">
                        <span class="fas fa-phone-alt"></span>
                        <span class="text">603611987</span>
                    </div>
                    <div class="email">
                        <span class="fas fa-envelope"></span>
                        <span class="text">lorem@example.com</span>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>