<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/demo.css">
    <script src="/font-awesome/css/all.min.css"></script>
    <script defer src="/login.js"></script>
    <title>Demo</title>
    <style>
        html {
            scroll-behavior: smooth;
        }
        
        a {
            text-decoration: none;
            color: white;
        }
        
        #start,
        #first,
        #second,
        #third,
        #fourth,
        #fifth,
        #sixth {
            height: 100vh;
            /* background-color: rgb(243, 243, 230); */
        }
        
        i:hover {
            color: cornflowerblue;
        }
    </style>
</head>

<!-- scroll to top -->
<!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top -->

<body>
    <nav class="navbar">
        <div class="content">
            <div class="logo"><a href="/">TakePedalTake</a></div>
            <ul class="menu-list">
                <div class="icon cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="/">Home</a></li>
                <li><a href="/post/oldview">About</a></li>
                <li><a href="/post/">Posts</a></li>
                <li><a href="/compraventa/">Compraventa</a></li>
                <li><a href="/demo/">Demo</a></li>
                <% if(user){%>
                    <li><a href="/user/profile">Profile</a></li>
                    <%} else{%>
                        <li><a href="/user/register">Login</a></li>
                        <%}%>
            </ul>
            <div class="icon menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <img src="/img/demo.jpg" alt="landing image" class="banner">
    <div class="center">
        <div class="title"><a href="#start">DEMO</a></div>
    </div>
    <div class="container-fluid">
        <a href="/admin/adminPanel" style="text-decoration: none;">
            <i class="bi bi-bookmark-plus-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
        </a>
        <%- include('../partials/messages'); %>
            <!-- <a href="/demo/create">Only admins allowed</a> -->
            <a href="#section2" style="text-decoration: none;">
                <i class="bi bi-arrow-down-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
            </a>
    </div>
    <div class="container mt-4">
        <section id="start">
            <div class="row mx-auto justify-content-center" style="margin-top:250px">
                <div class="card text-white bg-dark mb-3" style="width: 50%;">
                    <div class="card-body">
                        <h2 class="card-title text-center">La demo del mes (JUNIO 2021)</h2>
                        <h5 class="card-subtitle mb-2 text-muted text-center">¿De que va la demo del mes?</h5>
                        <p class="card-text">Una vez al mes sale este articulo especial cuyo objetivo es despertar el interés por experimentar con los pedales. Habrá demos de todo tipo de dificultades, desde usar un placa arduino para crear un loop de presets de un pedal
                            hasta algo simple como controlar un delay de cinta con un pedal de expresión. Este mes empezamos por lo simple pero no por ello menos interesante. Te gustaría saber más? Tienes alguna sugerencia? No dudes en contactarme. Coge
                            tu pedal y disfruta de la demo, empieza cuando estés listo!
                        </p>
                        <a href="#first" class="btn btn-success mx-auto d-block mt-2 mb-2">Start</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="first">
            <!-- <div class="card mb-3" style="max-width: 100%;"> -->
            <div class="row justify-content-center" style="margin-top: 200px;">
                <div class="col-md-6">
                    <img src="/img/admin.jpg" alt="test" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=demo[0].title %>
                        </h5>
                        <p class="card-text">
                            <%=demo[0].description %>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="#second" style="text-decoration: none;">
                            <i class="bi bi-arrow-down-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                        <a href="#start" style="text-decoration: none;">
                            <i class="bi bi-arrow-up-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </section>
        <section id="second">
            <div class="row" style="margin-top: 200px;">
                <div class="col-md-6">
                    <img src="/img/admin.jpg" alt="test" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=demo[0].subtitle %>
                        </h5>
                        <p class="card-text">
                            <%=demo[0].subDescription %>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="#third" style="text-decoration: none;">
                            <i class="bi bi-arrow-down-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                        <a href="#first" style="text-decoration: none;">
                            <i class="bi bi-arrow-up-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="third">
            <div class="row" style="margin-top: 200px;">
                <div class="col-md-6">
                    <img src="/img/admin.jpg" alt="test" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=demo[0].subtitle2 %>
                        </h5>
                        <p class="card-text">
                            <%=demo[0].subDescription2 %>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="#fourth" style="text-decoration: none;">
                            <i class="bi bi-arrow-down-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                        <a href="#second" style="text-decoration: none;">
                            <i class="bi bi-arrow-up-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="fourth">
            <div class="row" style="margin-top: 200px;">
                <div class="col-md-6">
                    <img src="/img/admin.jpg" alt="test" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=demo[0].subtitle3 %>
                        </h5>
                        <p class="card-text">
                            <%=demo[0].subDescription3 %>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="#fifth" style="text-decoration: none;">
                            <i class="bi bi-arrow-down-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                        <a href="#third" style="text-decoration: none;">
                            <i class="bi bi-arrow-up-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="fifth">
            <div class="row" style="margin-top: 200px;">
                <div class="col-md-6">
                    <img src="/img/admin.jpg" alt="test" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=demo[0].subtitle4 %>
                        </h5>
                        <p class="card-text">
                            <%=demo[0].subDescription4 %>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="#sixth" style="text-decoration: none;">
                            <i class="bi bi-arrow-down-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                        <a href="#fourth" style="text-decoration: none;">
                            <i class="bi bi-arrow-up-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="sixth">
            <div class="row" style="margin-top: 200px;">
                <div class="col-md-6">
                    <img src="/img/admin.jpg" alt="test" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=demo[0].finalTitle %>
                        </h5>
                        <p class="card-text">
                            <%=demo[0].finalDescription %>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a href="#start" style="text-decoration: none;">
                            <i class="bi bi-arrow-repeat" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                        <a href="#fifth" style="text-decoration: none;">
                            <i class="bi bi-arrow-up-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>