<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Create Demo</title>
    <style>
        body {
            background-color: rgb(196, 196, 196);
        }
        
        #first,
        #second,
        #third,
        #fourth,
        #fifth,
        #sixth {
            height: 100vh;
        }
    </style>
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet"></link>
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>

    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>

    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>

    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/fileUpload.js"></script>
</head>

<body>
    <div class="container mt-4">
        <form action="/demo/<%=demo.id %>?_method=PUT" method="POST">
            <section id="first">
                <div class="row">
                    <div class="col" style="margin-top: 200px;">
                        <h1 class="text-center">Explicación inicial de la demo</h1>
                        <div class="form-group">
                            <label for="title">Titulo</label>
                            <input required value="<%=demo.title%>" type="text" name="title" id="title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea type="text" required name="description" id="description" class="form-control"><%=demo.description%></textarea>
                        </div>
                        <a href="#second" style="text-decoration: none;">
                            <i class="bi bi-arrow-down-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                    </div>
                </div>
            </section>
            <section id="second">
                <div class="row">
                    <div class="col-md" style="margin-top: 100px;">
                        <h1 class="text-center">Primera página</h1>
                        <div class="form-group">
                            <label for="subtitle">Sub titulo</label>
                            <input required value="<%=demo.subtitle%>" type="text" name="subtitle" id="subtitle" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="subDescription">Sub descripcion</label>
                            <textarea type="text" required name="subDescription" id="subDescription" class="form-control"><%=demo.subDescription%></textarea>
                        </div>
                        <a href="#third" style="text-decoration: none;">
                            <i class="bi bi-arrow-down-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                        <a href="#first" style="text-decoration: none;">
                            <i class="bi bi-arrow-up-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                    </div>
                    <div class="col-md" style="margin-top: 100px;">
                        <div class="form-group">
                            <label for="firstCover">Cover</label>
                            <input type="file" name="firstCover" id="firstCover" class="filepond">
                        </div>
                    </div>
                </div>
            </section>
            <section id="third">
                <div class="row">
                    <div class="col-md" style="margin-top: 100px;">
                        <h1 class="text-center">Segunda página</h1>
                        <div class="form-group">
                            <label for="subtitle2">Sub titulo</label>
                            <input required value="<%=demo.subtitle2%>" type="text" name="subtitle2" id="subtitle2" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="subDescription2">Sub descripcion</label>
                            <textarea type="text" required name="subDescription2" id="subDescription2" class="form-control"><%=demo.subDescription2%></textarea>
                        </div>
                        <a href="#fourth" style="text-decoration: none;">
                            <i class="bi bi-arrow-down-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                        <a href="#second" style="text-decoration: none;">
                            <i class="bi bi-arrow-up-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                    </div>
                    <div class="col-md" style="margin-top: 100px;">
                        <div class="form-group">
                            <label for="secondCover">Cover</label>
                            <input type="file" name="secondCover" id="secondCover" class="filepond">
                        </div>
                    </div>
                </div>
            </section>
            <section id="fourth">
                <div class="row">
                    <div class="col-md" style="margin-top: 100px;">
                        <h1 class="text-center">Tercera página</h1>
                        <div class="form-group">
                            <label for="subtitle3">Sub titulo</label>
                            <input required value="<%=demo.subtitle3%>" type="text" name="subtitle3" id="subtitle3" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="subDescription3">Sub descripcion</label>
                            <textarea type="text" required name="subDescription3" id="subDescription3" class="form-control"><%=demo.subDescription3%></textarea>
                        </div>
                        <a href="#fifth" style="text-decoration: none;">
                            <i class="bi bi-arrow-down-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                        <a href="#third" style="text-decoration: none;">
                            <i class="bi bi-arrow-up-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                    </div>
                    <div class="col-md" style="margin-top: 100px;">
                        <div class="form-group">
                            <label for="thirdCover">Cover</label>
                            <input type="file" name="thirdCover" id="thirdCover" class="filepond">
                        </div>
                    </div>
                </div>
            </section>
            <section id="fifth">
                <div class="row">
                    <div class="col-md" style="margin-top: 100px;">
                        <h1 class="text-center">Cuarta página</h1>
                        <div class="form-group">
                            <label for="subtitle4">Sub titulo</label>
                            <input required value="<%=demo.subtitle3%>" type="text" name="subtitle4" id="subtitle4" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="subDescription4">Sub descripcion</label>
                            <textarea type="text" required name="subDescription4" id="subDescription4" class="form-control"><%=demo.subDescription4%></textarea>
                        </div>
                        <a href="#sixth" style="text-decoration: none;">
                            <i class="bi bi-arrow-down-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                        <a href="#fourth" style="text-decoration: none;">
                            <i class="bi bi-arrow-up-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                    </div>
                    <div class="col-md" style="margin-top: 100px;">
                        <div class="form-group">
                            <label for="fourthCover">Cover</label>
                            <input type="file" name="fourthCover" id="fourthCover" class="filepond">
                        </div>
                    </div>
                </div>
            </section>
            <section id="sixth">
                <div class="row mb-3">
                    <div class="col" style="margin-top: 200px;">
                        <h1 class="text-center">Explicación final y prueba</h1>
                        <div class="form-group">
                            <label for="finalTitle">Titulo Final</label>
                            <input required value="<%=demo.finalTitle%>" type="text" name="finalTitle" id="finalTitle" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="finalDescription">Descripción Final</label>
                            <textarea type="text" required name="finalDescription" id="finalDescription" class="form-control"><%=demo.finalDescription%></textarea>
                        </div>
                        <a href="#first" style="text-decoration: none;">
                            <i class="bi bi-arrow-repeat" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                        <a href="#fifth" style="text-decoration: none;">
                            <i class="bi bi-arrow-up-square-fill" style="font-size: 2rem; color: rgb(0, 0, 0);"></i>
                        </a>
                    </div>
                </div>
                <a href="/admin/adminPanel" class="btn btn-secondary">Cancel</a>
                <input type="submit" value="Save and create demo" class="btn btn-primary">
            </section>
        </form>
    </div>
</body>

</html>