<% if(typeof errors != 'undefined'){ %>
    <% errors.forEach(function(error) {%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><%=errors %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <%}); %>
            <% } %>

                <% if(success_msg != ''){ %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong><%=success_msg %></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>

                        <% if(error_msg != ''){ %>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong><%=error_msg %></strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            <% } %>
                                <% if(error != ''){ %>
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <strong><%=error %></strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    <% } %>
                                        <% if(role_error != ''){ %>
                                            <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
                                                <strong><%=role_error %></strong>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                            <% } %>
                                                <% if(user_deleted != ''){ %>
                                                    <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
                                                        <strong><%=user_deleted %></strong>
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                    <% } %>
                                                        <% if(user_updated != ''){ %>
                                                            <div class="alert alert-primary alert-dismissible fade show mt-4" role="alert">
                                                                <strong><%=user_updated %></strong>
                                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                            </div>
                                                            <% } %>